// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.navbar {
  padding: 20px;
}

.container {
  padding: 30px 20px 30px 20px;

  .card {
    padding: 0px;
  }

  .row {
    > .col,
    > [class*="col-"] {
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  /* .row {
    > .col:not(:last-child),
    > [class*="col-"]:not(:last-child) {
      margin-right: 10px;
      background-color: red;
    }
  } */
}
