// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.navbar-customm {
  padding: 20px;
  position: fixed !important;
  background-color: red;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.container {
  margin-top: 40px;
  padding: 30px 20px 30px 20px;

  .card {
    padding: 0px;
    overflow: hidden;
  }

  .row {
    > .col,
    > [class*="col-"] {
      margin-top: 1rem;
      margin-right: 10px;
    }
  }
}

.imgCarro {
  transition: transform 0.5s;
}

#successModal {
  .modal-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 50px;
    }

    .sucessoText {
      font-size: 1.5em;
      font-weight: 600;
      text-align: center;
    }
  }
}
